<footer>
    <div class='container'>
        <div class='row'>
            <div class='col-sm'>
                <h6>Sterling</h6>
                <h6 class='text-muted'>Tristan Dyer</h6>
                <h6><a class="u-email" href="mailto:atristandyer@gmail.com">atristandyer@gmail.com</a></h6>
            </div>
            <div class='col-sm d-flex justify-content-center'>
                <a href='https://github.com/sterling-js'>{% octicon mark-github class:"mr-2"%}sterling-js</a>
            </div>
            <div class='col-sm d-flex justify-content-end'>
                <h6 class='text-muted text-right'>Alloy with web-based visualizations</h6>
            </div>
        </div>
    </div>
</footer>
