<nav class='navbar navbar-expand-sm fixed-top navbar-dark bg-primary'>
    <div class='container'>
        <a class='navbar-brand' href='/'>
            <img class='d-inline-block align-bottom mr-2' src='/assets/img/favicon-32x32.png' width='30' height='30' alt=''>
            Sterling
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarResponsive" class='collapse navbar-collapse justify-content-end'>
            <ul class='navbar-nav nav nav-pills'>
                <li class='nav-item {% if page.title == "About" %} active {% endif %}'>
                    <a class='nav-link' href='/about'>About</a>
                </li>
                <li class='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' data-toggle='dropdown' href='#' aria-haspopup='true' aria-expanded='false'>Docs</a>
                    <div class='dropdown-menu'>
                        <a class='dropdown-item' href='/docs/guide'>User Guide</a>
                        <a class='dropdown-item' href='/docs/cheat'>Cheat Sheet</a>
                        <a class='dropdown-item' href='/docs/full'>API</a>
                    </div>
                </li>
                <li class='nav-item {% if page.title == "Tour" %} active {% endif %}'>
                    <a class='nav-link' href='/tour'>Tour</a>
                </li>
                <li class='nav-item {% if page.title == "Download" %} active {% endif %}'>
                    <a class='nav-link' href='/download'>Download</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link btn btn-success' href='/demo'>Demo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
