nav[data-toggle="toc"] {
  top: 112px;
}

nav[data-toggle="toc"] .nav .nav {
  display: block;
}

@media (max-width: 768px) {
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }
}
