<!DOCTYPE html>
<html lang='en'>

    {%- include head-toc.html -%}

    <body>

        {%- include header.html -%}

        <main class='page-content' aria-label='Content'>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-3 order-md-12'>
                        <nav id="toc" class="sticky-top"></nav>
                    </div>
                    <div class='col-md-9 order-md-1'>
                        {{ content }}
                    </div>
                </div>
            </div>
        </main>

        {%- include footer.html -%}
        <script>
            anchors.options = {
                placement: 'left',
                visible: 'always',
                icon: '#',
                class: 'anchor'
            };
            anchors.add('.anchored');
            $(function() {
                var navSelector = "#toc";
                var $myNav = $(navSelector);
                Toc.init($myNav);
                $("body").scrollspy({
                    target: navSelector
                });
            });
        </script>

    </body>

</html>
